<!--show qbratings with add/edit/delete functionality-->
@{
    ViewBag.Title = "QB Ratings";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<div class="page-header">
    <h2 class="text-center">QB Ratings</h2>
</div>