@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@addTagHelper "*, lovelyjubblyMVC6"

@{
    ViewBag.Title = "QB Ratings 2020";
    Layout = "~/Views/Shared/_LayoutMetro.cshtml";
}

<script bs-client-variables="true"></script>

<div class="container page-content">

    <div style="width: 100%">
        <div class="grid" style="margin: 0 auto;">
            <div class="row" style="padding-top: 40px;">
                <h3 class="text-light" style="text-align: center;">QB Ratings (2020)</h3>
            </div>
            <div id="divQBRatings">
                <table class="bordered" style="width: 80%; margin: 0 auto;">
                    <thead>
                        <tr style="background-color: #f1f1f1">
                            <td style="padding: 4px 4px 4px 4px;">Team</td>
                            <td style="padding: 4px 4px 4px 4px;">Comp %</td>
                            <td style="padding: 4px 4px 4px 4px;">Av Gain</td>
                            <td style="padding: 4px 4px 4px 4px;">TD %</td>
                            <td style="padding: 4px 4px 4px 4px;">Int %</td>
                            <td style="padding: 4px 4px 4px 4px;">Rating</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: qbrating.qbratings">
                        <tr class="qbrating2020">
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:TeamName"></td>
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:Completion"></td>
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:Gain"></td>
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:Touchdown"></td>
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:Interception"></td>
                            <td style="padding: 4px 4px 4px 4px;" data-bind="text:Rating"></td>
                        </tr>
                    </tbody>
               </table>
            </div>
        </div>
        </div>
                </div>