@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@addTagHelper "*, lovelyjubblyMVC6"

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMetro.cshtml";
}

<div class="container page-content">

    @*<div bs-progress-min="1"
         bs-progress-max="5"
         bs-progress-value="2">
    </div>*@

    <a bs-twitter-share-url="http://lovelyjubblymvc6.azurewebsites.net/Main/Index"></a>

    <script bs-client-variables="true"></script>

    <script language="javascript" type="text/javascript">
        
        $(document).ready(function () {
            alert(Model.debug);
        });
        
    </script>
</div>
