@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_LayoutMetro.cshtml";
}

<br /><br /><br />

<div class="grid">
    <div class="row">
        <div class="cell">
            <h2 class="text-light" style="text-align: center;">Links</h2>
        </div>
    </div>
</div>

<div style="width: 100%">
    <div class="grid" style="padding: 20px;">
        <div class="row">
            <div class="span4">
                <p class="bg-darkOrange padding20 fg-white">
                    <a class="links" href="http://www.pbmsports.com">PBM Sports</a><br />
                    <a href="http://www.softsim.co.uk" class="links">Software Simulations</a><br />
                    <a href="http://forum.gameplan.org.uk/" class="links">Gameplan Forum</a><br />
                    <a href="http://gameplan.org.uk" class="links">NFLAR league site</a><br />
                    <a href="http://www.sidetracks.co.uk/gameplan.html" class="links">Nu Gameplan</a><br />
                    <a href="https://sites.google.com/site/jackowebnugp/home/advanced-nflca" class="links">NFLCA league site</a><br />
                </p><br />
            </div>
        </div>
    </div>
</div>
