@{
    ViewBag.Title = "Superbowl Odds";
    Layout = "~/Views/Shared/_LayoutMetro.cshtml";
}

<div class="container page-content">
    <div style="width: 100%">
        <div class="grid" style="padding: 20px;">
            <div class="row">
                <div class="span4">
                    <h3 class="text-light" style="text-align: center;">Superbowl Odds</h3>
                    <p class="bg-indigo padding20 fg-white">
                        6/1 Green Bay<br />
                        8/1 Cincinnati<br />
                        9/1 Houston<br />
                        10/1 Washington<br />
                        11/1 Miami<br />
                        12/1 NY Giants<br />
                        14/1 New Orleans<br />
                        16/1 Buffalo, Denver<br />
                        18/1 NY Jets<br />
                        20/1 Tampa Bay<br />
                        22/1 San Diego, San Francisco<br />
                        25/1 Philadelphia<br />
                        28/1 Pittsburgh<br />
                        30/1 Indianapolis<br />
                        33/1 Minnesota<br />
                        35/1 Carolina<br />
                        38/1 Cleveland<br />
                        40/1 Chicago<br />
                        50/1 Atlanta<br />
                        66/1 Kansas City<br />
                        100/1 Seattle<br />
                        150/1 Arizona<br />
                    </p><br />
                </div>
            </div>
        </div>
    </div>
</div>