@{
    ViewBag.Title = "League History 2019";
    Layout = "~/Views/Shared/_LayoutMetro.cshtml";
}

<div class="container page-content">

        <div class="grid" style="padding: 20px;">
            <div class="row">
                <div class="span4">
                    <h3 class="text-light" style="text-align: center;">Season 2019</h3>
                    <img src="~/images/history/desktop/season2019.png" alt="Season 2019" />
                </div>
            </div>
        </div>
</div>