<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>Gameplan NFLC league website</title>

    <environment names="Development">
        <!--metro ui-->
        <link href="~/css/metro.css" rel="stylesheet"/>
        <link href="~/css/metro-icons.css" rel="stylesheet"/>
        <link href="~/css/metro-responsive.css" rel="stylesheet"/>
        <link href="~/css/metro-schemes.css" rel="stylesheet" />
        <link href="~/lib/metro/docs/css/docs.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <!--metro ui-->
        <link href="~/css/metro.css" rel="stylesheet" />
        <link href="~/css/metro-icons.css" rel="stylesheet" />
        <link href="~/css/metro-responsive.css" rel="stylesheet" />
        <link href="~/css/metro-schemes.css" rel="stylesheet"/>
        <link href="~/lib/metro/docs/css/docs.css" rel="stylesheet" />
        @*<link href="~/bundles/bundle.min.css" rel="stylesheet" />*@
    </environment>
</head>
<body>
    <div>
        <header class="app-bar fixed-top navy" data-role="appbar">
            <div class="container">
                <a href="/" class="app-bar-element branding"><img src="~/images/football.png" style="height: 28px; display: inline-block; margin-right: 10px;"> Gameplan NFLC</a>
                <ul class="app-bar-menu small-dropdown">
                    <li>
                        <a href="#" class="dropdown-toggle">Teams</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="Arizona.html">Arizona Cardinals</a></li>
                            <li><a href="Atlanta.html">Atlanta Falcons</a></li>
                            <li><a href="Buffalo.html">Buffalo Bills</a></li>
                            <li><a href="Carolina.html">Carolina Panthers</a></li>
                            <li><a href="Chicago.html">Chicago Bears</a></li>
                            <li><a href="Cincinnati.html">Cincinnati Bengals</a></li>
                            <li><a href="Cleveland.html">Cleveland Browns</a></li>
                            <li><a href="Denver.html">Denver Broncos</a></li>
                            <li><a href="GreenBay.html">Green Bay Packers</a></li>
                            <li><a href="Houston.html">Houston Texans</a></li>
                            <li><a href="Indianapolis.html">Indianapolis Colts</a></li>
                            <li><a href="KansasCity.html">Kansas City Chiefs</a></li>
                            <li><a href="Miami.html">Miami Dolphins</a></li>
                            <li><a href="Minnesota.html">Minnesota Vikings</a></li>
                            <li><a href="NewOrleans.html">New Orleans Saints</a></li>
                            <li><a href="NYGiants.html">New York Giants</a></li>
                            <li><a href="NYJets.html">New York Jets</a></li>
                            <li><a href="Philadelphia.html">Philadelphia Eagles</a></li>
                            <li><a href="Pittsburgh.html">Pittsburgh Steelers</a></li>
                            <li><a href="SanDiego.html">San Diego Chargers</a></li>
                            <li><a href="SanFrancisco.html">San Francisco 49ers</a></li>
                            <li><a href="Seattle.html">Seattle Seahawks</a></li>
                            <li><a href="TampaBay.html">Tampa Bay Buccaneers</a></li>
                            <li><a href="Washington.html">Washington Redskins</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Main</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="SeasonPredictions.html">Season Predictions</a></li>
                            <li><a href="SuperbowlOdds.html">Superbowl Odds</a></li>
                            <li><a href="HallOfFame.html">Hall Of Fame</a></li>
                            <li class="divider"></li>
                            <li><a href="Links.html">Links</a></li>
                            <li><a href="Contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">QB Ratings</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="2021.html">2021</a></li>
                            <li><a href="2020.html">2020</a></li>
                            <li><a href="2019.html">2019</a></li>
                            <li><a href="2018.html">2018</a></li>
                            <li><a href="2017.html">2017</a></li>
                            <li><a href="2016.html">2016</a></li>
                            <li><a href="2015.html">2015</a></li>
                            <li><a href="2014.html">2014</a></li>
                            <li><a href="2013.html">2013</a></li>
                            <li><a href="2012.html">2012</a></li>
                            <li><a href="2011.html">2011</a></li>
                            <li><a href="2010.html">2010</a></li>
                            <li><a href="2009.html">2009</a></li>
                            <li><a href="1994.html">1994</a></li>
                            <li><a href="1993.html">1993</a></li>
                            <li><a href="1992.html">1992</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">League History</a>
                        <ul class="d-menu" data-role="dropdown" data-no-close="true">
                            <li><a href="2021.html">2021</a></li>
                            <li><a href="2020.html">2020</a></li>
                            <li><a href="2019.html">2019</a></li>
                            <li><a href="2018.html">2018</a></li>
                            <li><a href="2017.html">2017</a></li>
                            <li><a href="2016.html">2016</a></li>
                            <li><a href="2015.html">2015</a></li>
                            <li><a href="2014.html">2014</a></li>
                            <li><a href="2013.html">2013</a></li>
                            <li><a href="2012.html">2012</a></li>
                            <li><a href="2011.html">2011</a></li>
                            <li><a href="2010.html">2010</a></li>
                            <li><a href="2009.html">2009</a></li>
                            <li><a href="1994.html">1994</a></li>
                            <li><a href="1993.html">1993</a></li>
                            <li><a href="1992.html">1992</a></li>
                        </ul>
                    </li>
                    <li><a href="http://forum.gameplan.org.uk/viewforum.php?f=9&sid=c44a50e759b28dd287ad52a0f7609940">Forum</a></li>
                </ul>
                <span class="app-bar-pull"></span>
            </div>
        </header>

    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">lovelyjubblyMVC6</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>*@
    @RenderBody()
    <div class="align-center padding20 text-small">
        &copy; Michael Parr 2015
    </div>

    <environment names="Development">
        <!--metro ui-->
        <script src="~/lib/metro/docs/js/jquery-2.1.3.min.js"></script>
        <script src="~/lib/metro/docs/js/metro.js"></script>
        @*<script src="~/lib/metro/docs/js/docs.js"></script>*@
        <script src="~/lib/metro/docs/js/prettify/run_prettify.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--metro ui-->
        <script src="~/lib/metro/docs/js/jquery-2.1.3.min.js"></script>
        <script src="~/lib/metro/docs/js/metro.js"></script>
        @*<script src="~/lib/metro/docs/js/docs.js"></script>*@
        <script src="~/lib/metro/docs/js/prettify/run_prettify.js"></script>
        @*<script src="~/bundles/bundle.min.js"></script>*@
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
